* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #fff;
}

.header, .footer {
    width: 900px;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header .box {
    flex: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
}

#logo {
    justify-content: left;
    padding-left: 6px;
}

#logo img {
    width: 60px;
}

#logo h1 {
    padding-left: 6px;
    font: bold 32px "Arial Black";
}

#github {
    justify-content: right;
}

#github img {
    width: 32px;
}

/* Main */
.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    /*border-top: 1px dashed #000;*/
    /*border-bottom: 1px dashed #000;*/
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer .box {
    flex: 1;
    display: flex;
    align-items: center;
}

#version {
    justify-content: left;
}

#version strong {
    padding-right: 6px;
}

#author {
    justify-content: right;
    font-size: 80%;
}

#author a {
    vertical-align: center;

}

#author-logo {
    height: 32px;
}


#author-name {
    height: 18px;
}



.arc {
    stroke-width: 5px;
    stroke: white;
}

.arc-label {
    font-weight: 600;
    text-transform: lowercase;
    text-anchor: middle;
}

.gateway-icon {
    fill: white;
    stroke-width: 4;
    stroke: white;
}

.service-caption {
    font-size: 80%;
}

.gateway-icon {
    text-anchor: middle;
    font-family: "Font Awesome 5 Brands", serif;
    stroke-width: 12px;
}

.source-title {
    text-anchor: middle;
}

.source-title textPath {
    font-size: 16px;
    text-transform: uppercase;

}

.service-throughput {

}

.service-throughput text {
    font-size: 28px;
}

.service-throughput-unit text {
    font-size: 12px;
    font-weight: lighter;
    color: darkgray;
}

.service-wrapper {
    fill: white;
    stroke-width: 1;
    stroke-dasharray: 2 4;

}

#journal {

}

#journal .service-name {
    font-weight: bolder;
}

#journal text {
    font-weight: normal;
    text-anchor: middle;
    display: block;
}

#journal text tspan {
    margin: 1em;
    border: 1px solid red;
}

#journal text::first-letter {
    text-transform: uppercase;
    font-size: 50px;
}

#journal text .up {
    color: green;
    fill: green;
}

#journal text .down {
    color: red;
    fill: red;
}

#raspberrypi {
    stroke: black;
    stroke-width: .1;
}
